<div class="page-header">
  <h1 class="text-center"><%= @project.name.upcase %> Mail Lists</h1>
</div>
<div class="row-fluid">
  <div class="span3">
    <%= render :partial => 'sidebar' %>
  </div>
  <div class="span9">
    <div class="hero-unit">
      <h1>You shouldn't be HERE!</h1>
      <p>A big Monster might eat YOU!</p>
      <p>
	<a class="btn btn-primary btn-large" href="http://www.wallpaperdev.com/customres/1024x768-hd-dakar-monster-energy-cars-tacspx-wallpapers-free.jpg">
	  RUN NOW!!!
	</a>
      </p>
    </div>
  </div>
</div>